.aboutus {
  width: 1500px;
}

.aboutus p {
  font-weight: 500;
  font-size: 45px;
}

@media (max-width: 1550px) {
  .aboutus {
    width: 1200px;
  }

  .aboutus p {
    font-weight: 500;
    font-size: 35px;
  }
}


@media (max-width: 1280px) {
  .aboutus {
    width: 900px;
  }

  .aboutus p {
    font-weight: 500;
    font-size: 25px;
  }
}

.aboutus-mobile {
  margin: 0 auto;
  margin-top: 140px;
  width: 92%;
}

.aboutus-mobile p {
  font-size: 30px;
  line-height: 100%;
}
