.marquee p {
  text-align: center;
  font-size: 200px;
  width: 90%;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee img {
  height: 160px;
  width: 160px;
  margin: 0 20px;
}

.marquee {
  overflow: hidden;
}

@media (max-width: 1500px) {
  .marquee p {
    font-size: 150px;
  }

  .marquee img {
    height: 115px;
    width: 115px;
    margin: 0 20px;
  }
}

@media (max-width: 1150px) {
  .marquee p {
    font-size: 90px;
  }

  .marquee img {
    height: 70px;
    width: 70px;
    margin: 0 20px;
  }
}
