.navbar {
  padding: 24px;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar img {
  width: 55px;
  height: 55px;
  margin: 0;
}

.navbar p {
  width: 370px;
  color: #5A5A5A;
  font-weight: 500;
  margin: 0;
}

.navbar2 {
  padding: 24px;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar2 img {
  width: 55px;
  height: 55px;
  margin: 0;
}

.navbar2 h2 {
  margin: 0;
  margin-left: 130px;
  font-weight: 500;
  font-size: 50px;
}

.navbar2 p {
  width: 370px;
  color: #5A5A5A;
  font-weight: 500;
  margin: 0;
  margin-left: 55px;
}

.navbar3 {
  padding: 24px;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar3 img {
  width: 55px;
  height: 55px;
  margin: 0;
}

.navbar3 h2 {
  margin: 0;
  margin-left: 130px;
  font-weight: 500;
  font-size: 50px;
}

.navbar3 p {
  width: 370px;
  color: #5A5A5A;
  font-weight: 500;
  margin: 0;
  margin-left: 55px;
  width: 600px;
}

.navbar4 {
  padding: 24px;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar4 img {
  width: 55px;
  height: 55px;
  margin: 0;
}

.navbar4 h2 {
  margin: 0;
  margin-left: 130px;
  font-weight: 500;
  font-size: 50px;
}

.navbar4 p {
  width: 370px;
  color: #5A5A5A;
  font-weight: 500;
  margin: 0;
  margin-left: 55px;
  width: 600px;
}

@media (max-width: 1300px) {
  .navbar2 h2 {
    font-size: 35px;
  }

  .navbar3 h2 {
    font-size: 28px;
  }

  .navbar4 h2 {
    font-size: 28px;
  }
}

/* mobile css */

.navbar-mobile p {
  width: 220px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 20px;
  color: #5A5A5A;
  line-height: 100%;
}

.navbar2-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-right: 8px;
}

.navbar2-mobile h2 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 0;
}

.navbar2-mobile p {
  font-weight: 500;
  font-size: 10px;
  width: 165px;
  line-height: 100%;
  margin-bottom: 0;
}
