.card-list {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  width: 90%;
  margin: 0 100px;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.card-list a {
  margin-top: 10px;
  transition: all 0.25s;
}

.card-list a:hover {
  transform: scale(1.02);
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: none;
}

.card img {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.card h4 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.card p {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  margin-top: 6px;
}

.info {
  padding: 12px;
}

@media (max-height: 830px) {
  .card {
    align-items: center;
  }

  .card img {
    width: 400px;
    height: 400px;
  }

  .card h4 {
    text-align: center;
  }

  .card p {
    text-align: center;
  }

}

@media (max-width: 1750px) {
  .card img {
    width: 400px;
    height: 400px;
  }

  .card {
    align-items: center;
  }

  .card h4 {
    text-align: center;
  }

  .card p {
    text-align: center;
  }

}

@media (max-width: 1400px) {
  .card img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1280px) {

  .card {
    align-items: center;
  }

  .card h4 {
    text-align: center;
  }

  .card p {
    text-align: center;
  }

  .card img {
    width: 250px;
    height: 250px;
  }

  .card h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  .card p {
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-top: 4px;
  }
}

@media (max-width: 1000px) {
  .card {
    align-items: center;
  }

  .card h4 {
    text-align: center;
  }

  .card p {
    text-align: center;
  }


  .card h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  .card p {
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    margin-top: 4px;
  }
}

@media (max-width: 470px) {
  .card {
    width: 100%;
    border: none;
  }

  .card img {
    width: 330px;
    height: 330px;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6px;
    width: 100%;
    margin-bottom: 25px;
  }

  .info p {
    font-size: 10px;
    text-align: left;
    width: 215px;
    margin-top: 0;
  }

  .info h4 {
    font-size: 16px;
    text-align: left;
    width: 90px;
  }
}

.cards-list-mobile {
  margin: 0 auto;
  width: 85vw;
  height: 670px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
}
