.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  width: 95%;
  gap: 25px;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.cardteam img {
  width: 260px;
  height: 260px;
}

.infoteam h4 {
  margin: 0;
  margin-top: 5px;
  font-weight: 700;
  font-size: 30px;
}

.infoteam p {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}

@media (max-height: 800px) {
  .cardteam img {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 1750px) {
  .cardteam img {
    width: 220px;
    height: 220px;
  }

  .infoteam h4 {
    margin: 0;
    margin-top: 5px;
    font-weight: 700;
    font-size: 24px;
  }

  .infoteam p {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
  }
}

@media (max-width: 1600px) {
  .cardteam img {
    width: 180px;
    height: 180px;
  }

  .infoteam h4 {
    margin: 0;
    margin-top: 5px;
    font-weight: 700;
    font-size: 20px;
  }

  .infoteam p {
    margin: 0;
    font-weight: 500;
    font-size: 11px;
  }
}

@media (max-width: 1300px) {
  .cardteam img {
    width: 165px;
    height: 165px;
  }

}

@media (max-width: 768px) {
  .cardteam img {
    width: 160px;
    height: 160px;
  }

  .infoteam h4 {
    margin: 0;
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
  }

  .infoteam p {
    margin: 0;
    font-weight: 500;
    font-size: 11px;
  }
}

.grid-wrapper-mobile {
  margin: 0 auto;
  margin-top: 35px;
  width: 86%;
  height: calc(100vh - 230px);
  overflow: scroll;
  justify-content: center;
  display: grid;
  grid-template-columns: 160px 160px;
  gap: 20px;
}

.grid-wrapper-mobile .cardteam {
  width: 160px;
}
